.app {
    min-height: calc(100vh - 60px)
}

.hero-spacer {
  margin-top: 50px;
}

.product-item {
  margin-bottom: 30px;
}

.thumbnail .caption {
  height: 215px;
}

.content {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  height: 250px;
  width: auto;
}

footer {
  padding-bottom: 20px;
}
